:global {
  .ant-form-item-children {
    position: static;
  }
}

.monitor-textarea {
  resize: none;
}

.monitor {
  position: absolute;
  right: 0;
  top: -28px;

  display: inline-block;
  height: 20px;
  line-height: 20px;

  font-size: 12px;
}
