.search {
  .item {
    padding-left: 24px;
    padding-right: 24px;
  }

  .operate {
    margin-bottom: 16px;
    line-height: 39.9999px;

    button {
      margin-right: 8px;
    }
  }
}

.form {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 39.9999px;
        padding-right: 8px;
      }
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .btnSubmit {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}
